<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleChrome.png</key>
	<string>40b75fcc247f45866d6c3d9cea33ece5e3330ce111fa82adb9faa48b2c628f5a</string>
</dict>
</plist>
